<!DOCTYPE html>
<html>
    <head>
        <title>Banana</title>
        <link rel="icon" href="https://t3.ftcdn.net/jpg/05/08/03/46/360_F_508034608_7DyjDzjQeXqnnmYZGZozkXOrEzGS6bdW.jpg"/>
    </head>

    <style>
    body{
         background-color: lightblue;
         border: 5px solid lightblue;
         outline-style: solid;
         outline-color: blue;
        }
    img {border-style: solid;
        border-color: black;}   
    
    h1 { font-style: bold;}
      </style>

    <body>
       <center> 
        <img src="https://media.istockphoto.com/id/1400057530/photo/bananas-isolated.jpg?b=1&s=170667a&w=0&k=20&c=uiSdjIQkTr7S4gEdW_oB_5zfFYhpfe0LP-CryQl49w4="  style="width:250px;height:250px;">
        <h1>Banana</h1>
        <h2>Scientific Name: Musa</h2>
       </center>

       <h2>Nutritious:</h2>

       <table border="1" style="width:40%;">
        <tr>
            <td>Calories</td>
            <td>112</td>
        </tr>
        <tr>
            <td>Fat</td>
            <td>0 grams</td>
        </tr>
        <tr>
            <td>Protein</td>
            <td>1 gram</td>
        </tr>
        <tr>
            <td>Carbs</td>
            <td>29 grams</td>
        </tr>
        <tr>
            <td>Fiber</td>
            <td>3 grams</td>
        </tr>
        <tr>
            <td> Vitamin C</td>
            <td>12% of the Daily Value (DV)</td>
        </tr>
        <tr>
            <td> Riboflavin</td>
            <td>7% of the DV</td>
        </tr>
        <tr>
            <td>Folate</td>
            <td>6% of the DV</td>
        </tr>
        <tr>
            <td> Niacin</td>
            <td>5% of the DV</td>
        </tr>
        <tr>
            <td>Copper</td>
            <td>11% of the DV</td>
        </tr>
        <tr>
            <td>Potassium</td>
            <td> 10% of the DV</td>
        </tr>
        <tr>
            <td> Magnesium</td>
            <td>8% of the DV</td>
        </tr>
       
    </table>
       <p>
        One banana provides about 112 calories and consists almost exclusively of water and carbs.<br>
        They hold little protein and no fat.
    </p>
    <h2>Medicinal uses of banana:</h2>
    <p>1.May improve blood sugar levels.<br>
        2.May support digestive health.<br>
        3.May aid weight loss.<br>
        4.May support heart health.<br>
        5.Full of antioxidants. <br>
        6.May improve kidney health.
        </p>

       <h2>Description:</h2>
       <p>Bananas are incredibly healthy, convenient, delicious, and one of the most inexpensive fresh fruits you can buy.<br>
        This makes them an excellent choice for anyone interested in eating healthy.<br>
        The banana plant is the largest herbaceous flowering plant.All the above-ground parts of a banana plant grow from a structure usually called a "corm".<br>
        Plants are normally tall and fairly sturdy with a treelike appearance, but what appears to be a trunk is actually a "false stem" or pseudostem.<br>
        Bananas grow in a wide variety of soils, as long as the soil is at least 60 centimetres (2.0 ft) deep, has good drainage and is not compacted.<br>
        Banana plants are among the fastest growing of all plants, with daily growth rates recorded of 1.4 metres (4.6 ft) to 1.6 metres (5.2 ft)
        </p>

       <h2>History:</h2>
       <p>The earliest domestication of bananas (Musa spp.) was from naturally occurring parthenocarpic (seedless) individuals of Musa banksii in New Guinea. These were cultivated by Papuans before the arrival of Austronesian-speakers. 
        Numerous phytoliths of bananas have been recovered from the Kuk Swamp archaeological site and dated to around 10,000 to 6,500 BP.Foraging humans in this area began domestication in the late Pleistocene using transplantation and early cultivation methods.
        Various investigations – including Denham et al., 2003 – determine that by the early to middle of the Holocene the process was complete.From New Guinea, cultivated bananas spread westward into Island Southeast Asia through proximity (not migrations). 
        They hybridized with other (possibly independently domesticated) subspecies of Musa acuminata as well as Musa balbisiana in the Philippines, northern New Guinea, and possibly Halmahera. These hybridization events produced the triploid cultivars of bananas commonly grown today. 
        From Island Southeast Asia, they became part of the staple domesticated crops of Austronesian peoples and were spread during their voyages and ancient maritime trading routes into Oceania, East Africa, South Asia, and Indochina.</p>
    </body>

</html>