<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>none</title>
    <link rel="icon" href="https://t3.ftcdn.net/jpg/05/08/03/46/360_F_508034608_7DyjDzjQeXqnnmYZGZozkXOrEzGS6bdW.jpg"/>
</head>
<body>
    <style>
      body{
        background-color: lightblue;
        border: 5px solid lightblue;
        outline-style: solid;
        outline-color: blue;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        min-height: 100vh;        
      }

    .wrapper header{
        
        font-size: 30px;
        font-weight: 600;
        text-align: center;
      }
    </style>
    <center>
        <div class="wrapper">
            <header>Image is not matched</header>
    
    </center>

</body>
</html>