<!DOCTYPE html>
<html>
    <head>
        <title>Pineapple</title>
        <link rel="icon" href="https://t3.ftcdn.net/jpg/05/08/03/46/360_F_508034608_7DyjDzjQeXqnnmYZGZozkXOrEzGS6bdW.jpg"/>
    </head>

    <style>
          body{
              background-color: lightblue;
              border: 5px solid lightblue;
              outline-style: solid;
              outline-color: blue;
             }
    
        img {border-style: solid;
            border-color: black;}   

        h1 { font-style: bold;}
          </style>
          
    <body>
       <center> 
        <img src="https://m.media-amazon.com/images/I/71bNsWlkyeL._SL1500_.jpg"  style="width:250px;height:300px;">
       <h1>Pineapple</h1>
       <h2>Scientific Name: Ananas Comosus</h2>
       </center>

       <h2>Nutritious:</h2>

       <table border="1" style="width:40%;">
        <tr>
            <td>Calories</td>
            <td>83</td>
        </tr>
        <tr>
            <td>Carbs</td>
            <td>21.6 grams</td>
        </tr>
        <tr>
            <td>Fiber</td>
            <td>2.3 grams</td>
        </tr>
        <tr>
            <td>Vitamin C</td>
            <td>88% of the Daily Value (DV)</td>
        </tr>
        <tr>
            <td>Copper</td>
            <td>20% of the DV</td>
        </tr>
        <tr>
            <td>Potassium</td>
            <td>4% of the DV</td>
        </tr>
        <tr>
            <td>Manganese</td>
            <td>109% of the DV</td>
        </tr>
        <tr>
            <td>Vitamin B6</td>
            <td>11% of the DV</td>
        </tr>
        <tr>
            <td>Thiamine</td>
            <td>11% of the DV</td>
        </tr>
        <tr>
            <td>Folate</td>
            <td>7% of the DV</td>
        </tr>
        <tr>
            <td>Magnesium</td>
            <td>5% of the DV</td>
        </tr>
        <tr>
            <td>Niacin</td>
            <td>5% of the DV</td>
        </tr>
        <tr>
            <td>Pantothenic acid</td>
            <td>7% of the DV</td>
        </tr>
        <tr>
            <td>Riboflavin</td>
            <td>4% of the DV</td>
        </tr>
        <tr>
            <td>Iron</td>
            <td>4% of the DV</td>
        </tr>
    </table>
    <h2>Medicinal Uses of pineapple:</h2>
    <p>1.May speed recovery after surgery or strenuous exercise.<br>
        2.May boost immunity and suppress inflammation.<br>
        3.May reduce your risk of cancer.<br>
        4.May aid digestion.<br>
        5.Contains disease-fighting antioxidants. <br>
        6.Easy to add to your diet.
        </p>

       <h2>Description:</h2>
       <p>The pineapple (Ananas comosus) is a tropical plant with an edible fruit.<br>
        It is the most economically significant plant in the family Bromeliaceae.</p>
       

    </body>
    
</html>