*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-image: url("fruits.png");
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  
}

.wrapper{
  width: 430px;
  background: #ffffff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}
.wrapper header{
  color: #ff0000;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.wrapper form{
  height: 250px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 4px dashed #0037ff;
}
